body {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    height: 100vh;
}

.hero__content{
    display: flex;
    align-items: center;
    height: 50vh;
}

.hero {
    background: url("../assets/images/solarSystem.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.hero__text {
    padding: 30px;
    margin-top: 5rem;
    margin-left: 4.5rem;
}

.hero__text h1 {
    /* font-size: 50px; */
    color: white;
    margin-top: 20px;
    padding-top: 40px;
}

.hero__text h3 {
    color: white;
}

.hero__text p{
    color: white;
    font-weight: 700;
    margin: 25px 0;
}

.hero__text button {
    padding: 5px;
    border: 5px solid #292929;
    border-radius: 10px;
    background: #292929;
    color: white;

}
